@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #1876D2;
  --color-secondary: #1876D2; 
  --color-tertiaty: #99a0a3;
}

a { 
  @apply text-red-700;
}

a:hover {
  @apply border-b-2 border-red-700;
}

.text-secondary {
  color: var(--color-secondary);
}

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}